html,
body {
	height: 100%;
	font-family: 'Josefin Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #40424a;
	margin: 0;
	font-weight: 600;
	font-family: 'Josefin Sans', sans-serif;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 30px;
}

p {
	font-size: 18px;
	color: #808181;
	line-height: 1.8;
}

a{
	color:#5c5d64;
}

a:hover{
	color: #40424a;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
	Helper CSS
-----------------------*/
.spad {
	padding-top: 3.5rem;
	padding-bottom: 4rem;
}

.section-title h2 {
	display: inline-block;
	position: relative;
	margin-bottom: 4rem;
	padding-bottom: 2px;
	line-height: normal;
}

.section-title h2:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	left: 0;
	bottom: 0;
	background: #40424a;
}

.section-title h3 {
	display: inline-block;
	position: relative;
	margin-bottom: 4rem;
	padding-bottom: 2px;
	padding-top: 1.5rem;
	line-height: normal;
}

.section-title h3:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	left: 0;
	bottom: 0;
	background: #40424a;
}

/*------------------------
  Common Elements
--------------------------*/

/* Site Buttons */
/* customised bootstrap buttons */
.btn{
    color: #d69c86;
    border-color: #d69c86;
}

.btn:hover{
    background-color: #d69c86;
    border-color: #d69c86;
}
.form-control:focus {
    border-color: #e2beb1;
    box-shadow: 0 0 0 0.2rem #e2beb1;
}
.btn:visited{
    background-color: #d69c86 ! important;
    border-color: #d69c86;
}
.btn:focus{
    border-color: #d69c86;
    box-shadow: 0 0 0 0.2rem #e2beb1;
}

.btn:not(:disabled):not(:disabled):active{
    background-color: #d69c86 ! important;
    border-color: #d69c86;
    box-shadow: 0 0 0 0.2rem #e2beb1;
} 
/* customised bootstrap buttons ends*/

/* -------button down ------*/
/* .button-div{
	padding: 0 0 !important;
    height: 40px;
    width: 100%;
    position: fixed;
    text-align: center;
    bottom:0;
}
    
.down-button{
    position: absolute;
    width: 30px;
    height: 30px;
    
    border-radius: 15px;
    font-size: smaller;
    text-align: center;
} */
/* -------button down END------*/

/* Icon Box */
.icon-box {
	text-align: center;
	display: inline-block;
	margin-right: 60px;
	min-width: 8rem;
}


/*---------------------
	Header section
-----------------------*/
.navbar{
	background-color: white;
}

.navbar a{
	color:#40424a;
}

/*---------------------
	presentation section
-----------------------*/
.presentation-section {
	background-color: #F2D9D0;
}

.presentation-text {
	margin-bottom:  1.25rem;
}

.presentation-text h2 {
	font-size: 6rem;
	letter-spacing: 0.6rem;
	line-height: normal;
	margin-bottom: 1.25rem;
}

.presentation-text p {
	font-size: 1.8rem;
	line-height: 1.3;
}

.intro-img{
	background-image: url(../img/Modified_background.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 90%;
	margin-top: 3rem;
}

.presentation-image {
	margin-top: 2rem;
}


/*---------------------
	Resume section
----------------------*/
.resume-section.with-bg {
	background-color: #F2D9D0;
}

.resume-list {
	list-style: none;
	margin-left: 60px;
	padding-left: 110px;
	border-left: 2px solid #40424a;
}

.resume-list li {
	margin-bottom: 3rem;
	position: relative;
}

.resume-list li:last-child {
	margin-bottom: 0;
}

.resume-list li:after {
	position: absolute;
	content: '';
	width: 15px;
	height: 15px;
	border: 2px solid #40424a;
	border-radius: 50px;
	background: #cacaca;
	top: 30px;
	left: -118px;
}

.resume-list h2 {
	font-size: 72px;
	margin-bottom: 0.5rem;
}

.resume-list h4 {
	font-size: 16px;
	text-transform: uppercase;
	color: #808181;
	margin-top: 10px;
	margin-bottom: 1.5rem;
}

.resume-list p {
	margin-bottom: 0;
}



/*---------------------
	Contact section
-----------------------*/
.contact-section{
	background-color: #F2D9D0;
}
.contact-form {
	display: block;
	width: 100%;	
}

.contact-form input {
	background-color: transparent;
	padding-left: 25px;
	height: 60px;
	width: 100%;
	border: none;
	border-bottom: 2px solid #e2beb1;
	margin-bottom: 30px;
	font-size: 13px;
}

.contact-form textarea {
	padding-left: 25px;
	height: 200px;
	width: 100%;
	border: none;
	border-bottom: 2px solid #e2beb1;
	margin-bottom: 30px;
	font-size: 13px;
	background-color: transparent;
}

/* autofill modifications */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 2px solid #e2beb1;
  -webkit-text-fill-color: #808181;
  -webkit-box-shadow: 0 0 0px 1px #F2D9D0 inset;
  transition: background-color 5000s ease-in-out 0s;
}

input, select, textarea{
    color:#808181 !important;
}
.form-control:focus { 
    color:#808181;
    background-color: transparent;
    border-color: #d69c86; 
    box-shadow: 0 0 0 0.2rem #F2D9D0;
}

.form-control:after{
    -webkit-text-fill-color: #808181;
}

.social-section{
	background-color: white;
}

#hidden_iframe{
    display:none;
}

.after-send{
    display: inline-block;
    color: #d69c86;
    font-size: medium;
}

.social-section{
	background-color: white;
}
/*---------------------
	Footer section
-----------------------*/
.footer-section {
	background: #F2D9D0;
	padding: 0.75rem 0;
}

.footer-section a{
	color: #838488;
}

.flaticons-credits{
	padding-top: 0.5rem;
	font-size: smaller;
}


/* ===========================
  Responsive
==============================*/

@media only screen and (max-width: 1600px) {
	.presentation-text h2 {
		font-size: 6rem;
	}
}

@media only screen and (max-width: 1366px) and (min-width: 1200px) {

	.presentation-text h2 {
		font-size: 5rem;
		letter-spacing: 0.4rem;
	}

		
	.web-dev .icon-box{
		margin-right: 30px;
	}
}

/* Medium screen : 992px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

	.presentation-text h2 {
		font-size: 4rem;
		letter-spacing: 0.4rem;
	}

	.web-dev .icon-box{
		margin-right: 0px;
	}
}

/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {

	.hidden-md {
		display: none !important;
	}
	.icon-box {
		margin-right: 30px;
	}

	.social-link-warp:after {
		display: none;
	}
	
}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
	.presentation-section{
		padding: 2rem 1.5rem !important;
	}

	.extra-section .row{
		padding: 0 0 !important;
	}

	.miscellaneous .row{
		padding: 0 0 !important;
	}

	.icon-box {
		margin-right: 25px;
		text-align: center;
	}

	.presentation-text h2 {
		font-size: 4rem;
		letter-spacing: normal;
	}
	.presentation-text p{
		font-size: 1.4rem;
		line-height: 1.2;
	}

	.btn-outline-secondary{
		font-size: smaller;
	}


	.hidden-md {
		display: none !important;
	}
	.resume-list {
		margin-left: 0;
		padding-left: 0;
		border-left: none;
	}
	
}

@media only screen and (min-width: 588px) and (max-width: 768px) {
	.presentation-text h2 {
		font-size: 5rem;
		letter-spacing: 0.5rem;
	}
}
@media only screen and (min-width: 476px) and (max-width: 587px) {
	.presentation-text h2 {
		font-size: 4rem;
		letter-spacing: 0.5rem;
	}
}
@media only screen and (min-width: 330px) and (max-width: 475px) {
	.presentation-text h2 {
		font-size: 3rem;
		letter-spacing: normal;
	}
}


/* small Mobile :320px. */
@media only screen and (max-width: 350px) {
	.presentation-text h2 {
		font-size: 3rem;
		letter-spacing: normal;
	}
	
	.extra-section .row{
		padding: 0 0 !important;
	}

	.miscellaneous .row{
		padding: 0 0 !important;
	}

	.icon-box {
		margin-left: 4.5rem;
		text-align: center;
	}

	.resume-list h2 {
		font-size: 50px;
	}

}